<div class="basic-info">

You've made it <%= current_user.nickname %><br>
Name: <%= current_user.name %><br>
Image: <%= image_tag(current_user.image) %>


<%= link_to "See Followers", followers_path %>
<%= link_to "See Following", following_index_path %>
<%= link_to "See Repos", repos_path %>



</div>
<%= link_to "Logout", logout_path, method: :delete %>
