<div class="basic-info container">

<p class="center-align">You've made it <%= current_user.nickname %></p>
<p class="center-align">Name: <%= current_user.name %></p>
<p class="center-align">Image: <%= image_tag(current_user.image) %></p>
<p class="center-align">Starred Repos Count: <%= @user.starred_repos(current_user.token).count %></p>
<p class="center-align">Number of Followers: <%= @user.followers(current_user.token).count %></p>
<p class="center-align">Number Following: <%= @user.following(current_user.token).count %></p>
<p class="center-align">Number of Repos: <%= @user.public_repos %></p>
<p class="center-align">Number of Organizations: <%= @user.organizations(current_user.token).count %></p>

<div class="btn-large black">
  <%= link_to "View Recent Events", events_path %><br>
</div>

<div class="btn-large black">
<%= link_to "View Recent Commits", commits_path %><br>
</div>

<div class="btn-large black">
<%= link_to "See Followers", followers_path %><br>
</div>

<div class="btn-large black">
<%= link_to "See Following", following_index_path %><br>
</div>

<div class="btn-large black">
<%= link_to "See Repos", repos_path %><br>
</div>

<div class="btn-large black">
<%= link_to "See Organizations", organizations_path %><br>
</div>

<div class="btn-large black">
  <%= link_to "Logout", logout_path, method: :delete %><br>
</div>

</div>
